torch==2.2.2
torchvision==0.17.2
efficientnet-pytorch==0.7.1
opencv-python-headless==4.9.0.80
Pillow==10.3.0
numpy==1.26.4
scikit-learn==1.4.2
scipy==1.13.0
matplotlib==3.8.4
seaborn==0.13.2
tqdm==4.66.4
facenet-pytorch==2.5.3
albumentations==1.4.4
grad-cam==1.5.0
scikit-image==0.24.0
requests==2.31.0
gdown==5.2.0
kaggle==1.6.14
pyyaml>=6.0.2,<7.0.0
pandas==2.2.2